body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: #897a2340;
}

/********************************/
/*********** Menu ***************/
/********************************/

.categories-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.category {
    background-color: #236189;
    color: white;
    width: 100%;
}

.category-clicked {
    background-color: #96cae4;
    color: black;
}

.category-title {
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
}

.category-title:hover {
    background-color: #96cae4;
    color: black;
}

.category-title:active {
    background-color: #a0bace;
    color: black;
}

.shopping_cart {
    background-color: #372389;
    width: 70%;
    cursor: default;
    color: white;
}

.menu-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/********************************/
/********* Products *************/
/********************************/

.products_container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-top: 20px;
    padding: 20px;
    flex: 1 0 auto;
}

.product_container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
    margin: 40px 30px;
    width: 200px;
    height: 180px;
    background-color: #23894c;
    color: white;
    border-radius: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.product_image {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}
.product_details_container {
    display: flex;
    flex-direction: column;
}

.add_to_cart_container {
    display: flex;
    justify-content: flex-end;
}

.add_to_cart {
    background-color: #372389;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.add_to_cart:hover {
    background-color: #96cae4;
    color: black;
}

.add_to_cart:active {
    background-color: #a0bace;
    color: black;
}

/********************************/
/*********** Footer *************/
/********************************/

.footer {
    background-color: #236189;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}